{% extends "base.html" %}
{% load static %} 
{% block title %}All Tweets{% endblock %}
{% block content %}
<div class="container mt-4">
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="h3 m-0">Tweets</h1>
    <a
    href="{% url 'tweet:tweet_create' %}"
    class="btn btn-sm btn-outline-primary"
    >
    + Create Tweet
    </a>
</div>
    {% include 'tweet/_tweet_list.html' with tweet_data=tweet_data %}
</div>
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/tweet.js' %}"></script>
{% endblock %}